!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=EDGE")

    title Chat App

    link(rel='stylesheet', href='/aui/css/aui-all.css')
    //if lt IE 9
    link(rel='stylesheet', href='/aui/css/aui-ie.css')
    // <![endif]
    //if IE 9
    link(rel='stylesheet', href='/aui/css/aui-ie9.css')
    // <![endif]
    script(type='text/javascript', src='/aui/js/aui-all.js')
    // [if lt IE 9] <!
    script(type='text/javascript', src='/aui/js/aui-ie.js')
    // <![endif]

    link(rel='stylesheet', href='/stylesheets/chat.css')

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/client.js')

body#aui-flatpack.aui-layout.aui-theme-default.aui-page-fixed

  #page 

    header#header(role="banner")
      nav.aui-header.aui-dropdown2-trigger-group(role="navigation")
        .aui-header-inner
          .aui-header-primary
            h1#logo.aui-header-logo.aui-header-logo-aui 
              a(href="/") 
                span.aui-header-logo-device AUI
            ul.aui-nav
              li
                a(href="/) Chat

    section#content(role="main")
      header.aui-page-header
        .aui-page-header-inner
          .aui-page-header-main
            h1 Got something to say?

      .aui-page-panel
        .aui-page-panel-inner
          section.aui-page-panel-content

            #login
              input#nickname(type='text', placeholder='Enter your nickname')
              button#connect Connect

            #chat(style='display:none;')
              .aui-group
                .aui-item#chathistory
                  h2 Messages
                  #messages-wrap
                    #messages
                  .chat_input
                    input#message
                    button#send_message Send
                .aui-item#userlist
                  h2 Users
                  ul#users

