

#userlist { 
    width: 200px;
    word-wrap: break-word;
}
#users li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    border-top: 1px solid #e9e9e9;
}
#users li:first-child {
    border-top: none;
}

#users {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;  
}

#messages-wrap {
    max-height: 500px;
    overflow-y: auto;    
}
#messages {
    margin: 10px 20px 0 0;
    padding: 0;
}


.message_from {
    word-wrap: break-word;
    width: 8em;
}
.message_body { 
    margin-left: 10px;
}

.server-message {
    color: #707070;
}

.chat_input {
    border-top: 1px solid #ccc;
    margin: 20px 0 0 0;
    padding: 10px 0;
}

button {
    font-size: 12px;
    padding: 6px;
}

#nickname,
#message {
    border-radius: 3.01px;
    font-size: 12px;
    margin-right: 20px;
    padding: 5px;
}
#nickname {
    width: 25%;
}
#message {
    width: 50%;    
}

#connect,
#send_message {
    width: 8%;
}


#users {
    margin-top: 10px;
}
